<p><a href="/files/new">New Document</a></p>

  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a>
        <a href="/<%= file %>/edit">Edit</a>
      
        <form class="inline" action="/<%= file %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>

  <% if session[:username] %>
    <form class="inline" action="/users/signout", method="post">
      <p class="user-status">
        Signed in as <%= session[:username] %>.
        <button type="submit"> Sign out</button>
      </p>
    </form>
  <% else %>
    <p class="user-status"><a href="/users/signin">Sign in</a></p>
  <% end %>
